body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav {
    background-color: #007bff; 
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 8px; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background: linear-gradient(135deg, #002147, #0056b3, #00a2ff); /* De azul oscuro a azul claro */
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

section {
    padding: 20px;
    text-align: center;
}

.project {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 8px;
}

.loading {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 5px solid #007bff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-top: 10px;
}

@keyframes spin {
    form { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes dots {
    0% {content: "En proceso";}
    33% {content: "En proceso";}
    66% {content: "En proceso";}
    100% {content: "En proceso";}
}

#loading-text::after {
    content: "En proceso";
    animation: dots 1.5s infinite;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

#Estilo para las imagenes
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}